
body{
font-family: abhaya-libre, sans-serif;
font-style: normal;
font-weight: 500;
background-color: lightblue
}

p, h1, h2{
    color: #ffffff;
}
b{
    color: brown;
}
img{
    width: 400px;
}

.titulo{
    background-image: url(recursos/417c6272d5856068eeb52e453681d5b3.jpg);
    background-position: 50% 50%;
    height: 150px;
    text-align: center;
    font-size: 25px;
    margin: 0;
    top: 0;
    border: 1px solid wheat;
}

.links{
    background: rgb(250, 88, 1);
    background: linear-gradient(90deg, rgba(200,70,0,1) 0%, rgba(9,77,121,1) 45%, rgba(255, 255, 0, 0.89) 100%);;
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    
}


a{
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    body {
        background-color: lightcoral;
    }
    /* Otros estilos específicos para móviles */
}

/* Estilos para tabletas */
@media (min-width: 601px) and (max-width: 768px) {
    body {
        background-color: lightgreen;
    }
    /* Otros estilos específicos para tabletas */
}

/* Estilos para computadoras de escritorio */
@media (min-width: 769px) {
    body {
        background-color: lightcoral;
    }
    /* Otros estilos específicos para computadoras de escritorio */
}
